.SearchBar {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: rgb(90, 90, 90);
    padding: 20px;
}

.SearchBar input {
    border: 1px solid rgba(255, 255, 255, 0.87);
    background: none;
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: 500;
    font-family: inherit;
    margin-bottom: 20px;
    padding: 20px;
}