.Playlist {
    text-align: start;
    border: 5px solid rgba(255, 255, 255, 0.87);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    min-width: 270px;
}

.Playlist input {
    border: 1px solid rgba(255, 255, 255, 0.87);
    background: none;
    border-width: 0 0 1px 0;
    font-size: 1.3em;
    font-weight: 500;
    font-family: inherit;
}

.Playlist-safe {
    margin-top: 10px;
}

button:disabled {
    background-color: #cccccc; /* Example: Grey background */
    color: #666666; /* Example: Lighter text color */
    cursor: not-allowed; /* Example: Change cursor on hover */
    opacity: 0.7
}