.Playlist {
    text-align: start;
    border: 1px solid rgba(255, 255, 255, 0.87);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

input {
    border: 1px solid rgba(255, 255, 255, 0.87);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
}